<h1>Edit Dynamic field</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.dynamic_field_path(@conn, :update, @dynamic_field)) %>

<span><%= link "Back", to: Routes.dynamic_field_path(@conn, :index) %></span>
