<h1>New Dynamic field</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.dynamic_field_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.dynamic_field_path(@conn, :index) %></span>
