<h1>New Business type</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.business_type_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.business_type_path(@conn, :index) %></span>
