<h1>New Job category</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.job_category_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.job_category_path(@conn, :index) %></span>
