<h1>New Com group message</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.com_group_message_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.com_group_message_path(@conn, :index) %></span>
