<h1>New Terms and condition</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.terms_and_condition_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.terms_and_condition_path(@conn, :index) %></span>
